			#btn_login {
				background-color: #81b71a;
				border-radius: 50px;
				color:white;
				font-weight: 700;
				border:none;
				box-shadow:none;

				}

			#btn_login:hover{
					background-color: #99d91e;
				}

			#btn_login:active {
				background-color: #6e9d15;
				border-radius: 50px;
				color:white;
				font-weight: 700;
				border:none;
				box-shadow:none;
				}


			#btn_facebook{
				background-color:#3b5998;
				border-radius: 30px;
				color:white;
				font-weight: 500;
				border:none;
				box-shadow:none;
				font-size:11px;
			}

			#btn_facebook:hover{
				background-color:#526fac;
				border-radius: 30px;
			}
	

			#btn_facebook:active{
				background-color:#2d467c;
				border-radius: 30px;
			}

			#link1 {
				color:white;
				font-family:Sans serif;
				font-size:9px;
			}

			#link2{
				color:white;
				font-family:Sans serif;
				font-size:9px;
			}

			GtkEntry{
				border-radius: 3px;
			}